<script type="text/javascript">
    function verifyUser()
    {

    }
    </script>

   <!DOCTYPE html>
  <html>
  <head>
  <title>Page Title</title>
  </head>
  <body>

    <div
    style=" justify-content:center; padding: 20px"
    >
    <!-- <div style="text-align: center; margin-top: 20px">
      <a href="https:pickletour.com"><img style="width: 400px" src="https://i.ibb.co/T879vPz/pickleball.png" alt="pickleball"></a>
    </div> -->
    <div
      style="margin-top: 20px; margin-Bottom: 20px; text-align: center"
    >
      <h2 style="font-size: 20px; font-weight: bold">
         A message from <%= name %>
      </h2>
      <h5 style="font-size: 20px; font-weight: bold">
        ( <%= email %> )
     </h5>
      <p>
        <%= message %>
      </p>
    </div>
    

  </div>

  </body>
  </html>
