<script type="text/javascript">
    function verifyUser()
    {

    }
    </script>

   <!DOCTYPE html>
  <html>
  <head>
  <title>Page Title</title>
  </head>
  <body>

    <div
    style=" justify-content:center; padding: 20px"
    >
    <!-- <div style="text-align: center; margin-top: 20px">
      <a href="https:pickletour.com"><img style="width: 400px" src="https://i.ibb.co/T879vPz/pickleball.png" alt="pickleball"></a>
    </div> -->
    <div
      style="margin-top: 20px; margin-Bottom: 20px; text-align: center"
    >
      <h2 style="font-size: 20px; font-weight: bold">
         You can you change your password from here.
      </h2>
    </div>
     <!-- <div
      style="margin-top: 20px; margin-bottom: 20px; text-align: center" 
    >
      <p style=" font-size: 14px">
        Hi User, Thanks for your interest in joining
        PickleTour! To complete your registration, we need
        you to verify your email address.
      </p>
    </div>  -->
    
 <form method="put">
    <div
      style="
        margin-top: 30px; 
        margin-bottom: 20px;
        text-align: center"
      }}
    >
    
      <button
        className="popBtn"
        type="submit"
        style="
          background-color: #3C876B;
          border-color: #3C876B;
          border-radius: 5px;
          padding: 5px 30px !important;
          color: white;"
          >
          <a href="https://quiet-river-79425.herokuapp.com/ForgotPassword/<%= email %>" style="color: #fff">
             Change
          </a>
            
      </button>
    </div>
 </form>
  </div>

  </body>
  </html>
