<script type="text/javascript">
    function verifyUser()
    {

    }
    </script>

   <!DOCTYPE html>
  <html>
  <head>
  <title>THE NODE</title>
  </head>
  <body>

    <div
    style=" justify-content:center; padding: 20px"
    >
    <!-- <div style="text-align: center; margin-top: 20px">
      <a href="https:pickletour.com"><img style="width: 400px" src="https://i.ibb.co/T879vPz/pickleball.png" alt="pickleball"></a>
    </div> -->
    <div
      style="margin-top: 20px; margin-Bottom: 20px; text-align: center"
    >
      <h2 style="font-size: 20px; font-weight: bold">
        Verify your email address to complete your registration
      </h2>
    </div>
     <div
      style="margin-top: 20px; margin-bottom: 20px; text-align: center" 
    >
      <p style=" font-size: 14px">
        Hi User, Thanks for your interest in joining
        The Node! To complete your registration please Enter code in your mobile.
      </p>
      <h3><b>Code: <%= num %></b> </h3>
    </div> 
    
 <!-- <form method="put">
    <div
      style="
        margin-top: 30px; 
        margin-bottom: 20px;
        text-align: center"
      }}
    >
    
      <button
        className="popBtn"
        type="submit"
        style="
          background-color: #808080;
          border-color: #808080;
          border-radius: 5px;
          padding: 5px 30px !important;
          color: white;"
          >
          <a href="https://pickletour.com/verify/<%= email %>" style="color: #fff">
             Verify
          </a>
            
      </button>
    </div>
 </form> -->
  </div>

  </body>
  </html>
